<section>
        <div class="container" style="text-align:center">
            <h1>COVID-19 UPDATE</h1>
            <p>Please note that the conference is postponed to 2022. </p>
            <p><b style="color:red">NEW DATES:</b><br>
              Workshops on Mon 28th Nov 2022<br>
              Conference on Tue 29th Nov - Fri 2nd Dec 2022
            </ul></p>
            <h2>AGUAi Annual General Meeting Notice</h2>
            The AGM will take place on <b>Thu 3rd Dec 2020 13:00-13:25 AEDT</b> online.<br> Below are the files for the meeting:<br>
            <a href="files/AGUAi rules of Association 2019.pdf" download>AGUAi rules of Association</a><br>
            <a href="files/MinutesAGUAiAGM19.pdf" download>Minutes of the AGUAi AGM 2019</a>
            </ul>
            <h2>Webinar</h2>
            There will be a webinar for new developments for Genstat, CycDesigN and ASReml following after the AGM. This will take place from <b>13:30-15:00 AEDT</b>.
            <br><br>
            <p><b>Link for AGM and webinar to come.</b></p>
            <p>For abstracts for the webinar see <a href="news/aasc2020-webinar/">here</a>. </p>
            <p><b style="color:red">UPDATE 2020/12/10:</b> You can find the videos of each presentation below.</p>
        </div>
                <div style="text-align:center;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/rwVrWA7Gv9Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/9a2I5mGd1EA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   <br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/8zpaV1OLvi0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/PmJK4yJ80_k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
</section>
