<section>
        <div class="container" style="text-align:center">
            <h1>COVID-19 UPDATE</h1>
            <p>Please note that the conference will not proceed on site as originally envisioned. </p>
            <h2>AGUAi Annual General Meeting Notice</h2>
            The AGM will take place on <b>Thu 3rd Dec 2020 1-2PM</b> online. 
            <h2>Webinar</h2>
            There will be a webinar for new developments for Genstat, CycDesigN and ASReml following after the AGM.
            <br><br>
            <p><b>Link for AGM and webinar to come.</b></p>
        </div>
</section>
