<section>
        <div class="container" style="text-align:center">
            <h1>COVID-19 UPDATE</h1>
            <p>Please note that the conference is postponed to 2022. </p>
            <p><b style="color:red">NEW DATES:</b><br>
              Workshops on Mon 28th Nov 2022<br>
              Conference on Tue 29th Nov - Fri 2nd Dec 2022
            </ul></p>
            <h2>AGUAi Annual General Meeting Notice</h2>
            The AGM will take place on <b>Thu 3rd Dec 2020 1-2PM</b> online.<br> Below are the files for the meeting:<br>
            <a href="files/AGUAi rules of Association.docx" download>AGUAi rules of Association</a><br>
            <a href="files/Minutes AGUAiAGM19.docx" download>Minutes of the AGUAi AGM 2019</a>
            </ul>
            <h2>Webinar</h2>
            There will be a webinar for new developments for Genstat, CycDesigN and ASReml following after the AGM.
            <br><br>
            <p><b>Link for AGM and webinar to come.</b></p>
        </div>
</section>
