<section class="bar">
    <div class="container">
<style>
.conf-photo {
  border: 3px solid black;
  height: 200px;
  margin: 5px;
}  
.winner-photo {
  height: 400px;
  border: 3px solid black;
  margin-bottom: 5px;
}
</style>

<h2> Photos from the conference</h2>

(Please send photos to publish on website to emi.tanaka@monash.edu)
<center>
  <img src='photos/IMG_027644.jpg' class='conf-photo'>
<img src='photos/IMG_027647.jpg' class='conf-photo'>
<img src='photos/IMG_027648.jpg' class='conf-photo'>
<img src='photos/IMG_027649.jpg' class='conf-photo'>
<img src='photos/IMG_027652.jpg' class='conf-photo'>
<img src='photos/IMG_027653.jpg' class='conf-photo'>
<img src='photos/IMG_027656.jpg' class='conf-photo'>
<img src='photos/IMG_027657.jpg' class='conf-photo'>
<img src='photos/IMG_027659.jpg' class='conf-photo'>
<img src='photos/IMG_027661.jpg' class='conf-photo'>
<img src='photos/IMG_027678.jpg' class='conf-photo'>

<br>

<img src='photos/giri1.jpeg' class='conf-photo' style="width:47%;height:auto;">
<img src='photos/giri2.jpeg' class='conf-photo' style="width:47%;height:auto;">
<img src='photos/giri3.jpeg' class='conf-photo' style="width:47%;height:auto;">
<img src='photos/giri4.jpeg' class='conf-photo' style="width:47%;height:auto;">

</center>

  
<h2>Congratulations to...</h2>
<div style="font-size: 1.5em;">  
<b>Quan Vu</b> for the best student poster prize<br>
<img src='photos/IMG_027803.jpg' class='winner-photo'><br>
<b>Annie Conway</b> for the people's choice poster prize<br>
<img src='photos/IMG_027804.jpg' class='winner-photo'><br>
<b>Vihanga Gunadasa</b> for the highly commended student presentation prize<br>
<img src='photos/IMG_027805.jpg' class='winner-photo'><br>
<b>Owen Forbes</b> for the highly commended student presentation prize<br>
<img src='photos/IMG_027806.jpg' class='winner-photo'><br>
<b>Luke Boyle</b> for the best student presentation prize<br>
<img src='photos/IMG_027807.jpg' class='winner-photo'>  
</div>
</div>
</section>